Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
mysql-connector-python
sqlalchemy-utils

Configurar MySQL: Debe tener MySQL instalado y correrlo en el puerto 3306 y crear un usuario que coincida con tu cadena de conexión:
Puertomysql: 3306
Usuario: root

Contraseña: 0

Instalar dependencias: Abrir una terminal en la carpeta del proyecto y ejecutar:
pip3 install -r requirements.txt

Iniciar la app 
python3 app.py